<% 
  require 'front_cell'
  require 'fboard/cell'
  require 'fboard/row'

  length = 40
  cells = []
  (0...length).each do |i|
    event = false
    event = true if [2, 5, 7, 8, 9, 13, 16, 24, 25, 28, 32, 34, 38 ].include? i 
    cells << FC::FrontCell.new(i, event)
  end
%>

<% 

row_num = 0
frow = FBoard::Row.new()

cells.each do |cell|

  fcell = FBoard::Cell.new(cell)

  # vertical row
  if vertical?(row_num)
    if cell == cells.last
      if vertical_right?(row_num)
        frow.cells.unshift fcell
      else
        frow.cells << fcell
      end
    end
    frow.build_vertical(vertical_right?(row_num) ? :right : :left)
  end

  cols_count = frow.cols_count + (fcell.width)

  if frow.column_exceed?(cols_count) || (cell == cells.last)

    if cell == cells.last && horizontal?(row_num)
      frow.cells << fcell
    end

    if horizontal_left?(row_num)
      frow.cells = frow.cells.reverse
    end

    %>
    <div class="columns">
    <%
      
      frow.set_cells_direction(horizontal_right?(row_num) ? :right : 
        horizontal_left?(row_num) ? :left : 
          vertical_right?(row_num) ? :down_right : :down_left)
      
      if horizontal?(row_num)
        frow.set_offset(horizontal_right?(row_num) ? :right : :left)
      end
      

      frow.cells.each do |rcell|
    %>
        <div class="column is-<%=rcell.width%> <%=rcell.offset%>">
          <% if rcell.index != -1 %>
            <%= render partial: "notification", locals: {header: rcell.index + 1, body: rcell.icon_name, color: rcell.color} %>
          <% end %>
        </div>
    <% end %>

    </div>

    <%

    frow = nil
    row_num += 1

    frow = FBoard::Row.new()
  end

  frow.cells << fcell
  
end
%>